<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="scripts/potatoSwitch.js"></script>
  
  <title>The Potato Train!!</title>
</head>
<body>
  <h1>La PATATE !</h1>
  <div id="potatoDiv">
    <h2 id="potatoText">I'm a boring potato, click me to give me swag!</h2>
    <img id="normalPotato" src="images/potato.png" onclick="changePotato()" alt="potato">
  </div>

  <div>
    <h2>OMG!! Get a potato with your name!!!</h2>
  </div>

  <form action="/name-your-potato" method="get">
    <label for="name">Name: </label>
    <input type="text" name="name">
    <label for="city">City: </label>
    <input type="text" name="city">
    <input type="submit" value="Potate your name!">
  </form>
</body>
</html>